<p class="lead">My Account</p>

<form role="form" method="POST" class="form-horizontal" enctype="multipart/form-data" action="/user/account">
  <input type="hidden" name="user_id" value="<%= @user[:id] %>">

  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-8">
      <input type="text" name="first_name" id="first_name" class="form-control" value="<%= @user[:first_name] %>">
    </div>
  </div>

  <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-8">
      <input type="text" name="last_name" id="last_name" class="form-control" value="<%= @user[:last_name] %>">
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-8">
      <input type="text" name="email" id="email" class="form-control" value="<%= @user[:email] %>">
    </div>
  </div>

<p class="lead">My Identity</p>


  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Display UserName</label>
    <div class="col-sm-8">
      <input type="text" name="username" id="username" class="form-control" value="<%= @user[:username] %>">
    </div>
  </div>

  <div class="form-group">
    <label for="gender" class="col-sm-2 control-label">Gender/Sex</label>
    <div class="col-sm-8">
      <input type="radio" name="gender" id="gender" class="" value="male" required> Male
      <input type="radio" name="gender" id="gender" class="" value="female"> Female
    </div>
  </div>

  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Occupation</label>
    <div class="col-sm-8">
      <input type="text" name="occupation" id="occupation" class="form-control" value="<%= @user[:occupation] %>">
    </div>
  </div>

  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Immigration</label>
    <div class="col-sm-8">
      <input type="text" name="immigration" id="immigration" class="form-control" value="<%= @user[:immigration] %>">
    </div>
  </div>

  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Birth Date</label>
    <div class="col-sm-8">
      <label for="birth_month" class="col-sm-1 control-label">Mo</label>
      <div class="col-sm-3">
        <input type="text" name="birth_month" class="form-control" value="<%= @user[:birth_month] %>">
      </div>
      <label for="birth_month" class="col-sm-1 control-label">Day</label>
      <div class="col-sm-3">
        <input type="text" name="birth_day" class="form-control" value="<%= @user[:birth_day] %>">
      </div>
      <label for="birth_month" class="col-sm-1 control-label">Year</label>
      <div class="col-sm-3">
        <input type="text" name="birth_year" class="form-control" value="<%= @user[:birth_year] %>">
      </div>
    </div>
  </div>


<p class="lead">My Summary</p>

  <div class="form-group">
    <label for="summary" class="col-sm-2 control-label">Self-Summary</label>
    <div class="col-sm-8">
      <input type="textarea" name="self_summary" id="summary" class="" value="<%= @user[:self_summary] %>">
    </div>
  </div>

<p class="lead">My Pictures</p>

  <div class="form-group">
    <label for="pictures" class="col-sm-2 control-label">Picture to Upload</label>
    <div class="col-sm-8">
      <input type="hidden" name="user_id" value="<%= @user[:id] %>">
      <input type="file" name="picture" id="picture" class="" value="">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-primary subm"><i class="fa fa-lock"></i> Update</button>
    </div>
  </div>
</form>

<% if @user[:have_pic] == true %>
<div class="w3-content" style="max-width:800px;position:relative">
  <% @picture = Picture.where(:user_id => @user[:id]).all %>
  <% @picture.each do |f| %>
    <% if f[:main_pic] == "true" %>
      <img class="mySlides" name="main_pic" src="<%= f[:image_url] %>" id="<%= f[:id] %>" wiggy="<%= f[:main_pic] %>" style="width:100%">
    <% else %>
      <img class="mySlides" src="<%= f[:image_url] %>" id="<%= f[:id] %>" wiggy="<%= f[:main_pic] %>" style="width:100%">
    <% end %>

  <% end %>
    <a class="w3-btn-floating" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
    <a class="w3-btn-floating" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a>
    <a class="make-main" style="position:absolute; top:5%; right: 5%; display: block">M</a>
    <a class="delete_pic" style="position:absolute; top:5%; right: 5%;">X</a>
    <a class="change_main" style="position:absolute; bottom: 5%; right: 5%;">C</a>
</div>
<% end %>

<script>
  var slideIndex = 1;
  var current_pic = 0;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      console.log(main, "Tu Madre is muy Gordo")
      x[i].style.display = "none";
    }
    var main = document.getElementsByClassName("mySlides")[slideIndex-1].getAttribute("wiggy");
    current_pic = document.getElementsByClassName("mySlides")[slideIndex-1].getAttribute("id");
    console.log(current_pic, "current pic id")
    x[slideIndex-1].style.display = "block";
    if (main == "true") {
      $(".make-main").attr("style", "position:absolute; top:5%; left: 5%; display: block");
    }
    if (main == "false") {
      $(".make-main").attr("style", "display: none");
    }
  }
  $(".delete_pic").on("click", function(){
    console.log(current_pic, "wtf wtf wtf wtf")
    $.post('/user/picture_delete', {id: current_pic}, function(res){

    })
  })
  $(".change_main").on("click", function(){
    $.post('/user/change_picture', {id: current_pic}, function(){

    })
  })




</script>





<div class="col-md-12">


</div>