<div class="container">
  <a href="/viewprofile/<%=@user[:id]%>"><h3 style="margin-top: 80px;">My Profile</h3></a>
  <div class="col-md-offset-2 col-md-9" style="margin-top: 50px;">
    <p class="lead">My Account</p>

    <form role="form" method="POST" class="form-horizontal" enctype="multipart/form-data" action="/user/account">
      <input type="hidden" name="user_id" value="<%= @user[:id] %>">

      <div class="form-group">
        <label for="first_name" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-8">
          <input type="text" name="first_name" id="first_name" class="form-control" value="<%= @user[:first_name] %>">
        </div>
      </div>

      <div class="form-group">
        <label for="last_name" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-8">
          <input type="text" name="last_name" id="last_name" class="form-control" value="<%= @user[:last_name] %>">
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
          <input type="text" name="email" id="email" class="form-control" value="<%= @user[:email] %>">
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Userame</label>
        <div class="col-sm-8">
          <input type="text" name="username" id="username" class="form-control" value="<%= @user[:username] %>">
        </div>
      </div>

      <p class="lead">My Identity</p>

      <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">Gender/Sex</label>
        <div class="col-sm-8">
          <input type="radio" name="gender" id="gender" class="" value="male" <% if @user[:gender] == "male" %>checked <% end %>> Male
          <input type="radio" name="gender" id="gender" class="" value="female" <% if @user[:gender] == "female" %>checked <% end %>> Female
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Birth Date</label>
        <div class="col-sm-8">
          <label for="birth_month" class="col-sm-1 control-label">Mo</label>
          <div class="col-sm-3">
            <input v-model="user.birth_month" type="text" name="birth_month" class="form-control" value="<%= @user[:birth_month] %>">
          </div>
          <label for="birth_month" class="col-sm-1 control-label">Day</label>
          <div class="col-sm-3">
            <input v-model="user.birth_day" type="text" name="birth_day" class="form-control" value="<%= @user[:birth_day] %>">
          </div>
          <label for="birth_month" class="col-sm-1 control-label">Year</label>
          <div class="col-sm-3">
            <input v-model="user.birth_year" type="text" name="birth_year" class="form-control" value="<%= @user[:birth_year] %>">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="height" class="col-sm-2 control-label">Height</label>
        <div class="col-sm-8">
          <label for="birth_month" class="col-sm-1 control-label">FT</label>
          <div class="col-sm-3">
            <input v-model="user.height_ft" type="text" name="height_ft" class="form-control" value="<%= @user[:height_ft] %>">
          </div>
          <label for="birth_month" class="col-sm-1 control-label">IN</label>
          <div class="col-sm-3">
            <input v-model="user.height_in" type="text" name="height_in" class="form-control" value="<%= @user[:height_in] %>">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">US Citizen?</label>
        <div class="col-sm-8">
          <input type="checkbox" name="immigration" id="immigration" value="citizen" <% if @user[:immigration] == "citizen" %> checked <% end %>>
        </div>
      </div>

      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Languages</label>
        <div class="col-sm-8">
          <input type="radio" name="language" value="english" <% if @user[:language] == "english" %> checked <% end %>> English
          <input type="radio" name="language" value="korean" <% if @user[:language] == "korean" %> checked <% end %>> Korean
          <input type="radio" name="language" value="bilingual" <% if @user[:language] == "bilingual" %> checked <% end %>> Bilingual
        </div>
      </div>

      <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-8">
          <input v-model="user.city" type="text" name="zip" id="occupation" class="form-control" value="<%= @user[:city] %>">
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Occupation</label>
        <div class="col-sm-8">
          <input type="text" name="occupation" id="occupation" class="form-control" value="<%= @user[:occupation] %>">
        </div>
      </div>

      <p class="lead">My Summary</p>

      <div class="form-group">
        <label for="summary" class="col-sm-2 control-label">Self-Summary</label>
        <div class="col-sm-8">
          <textarea name="self_summary" id="summary" class="form-control" rows="7" ><%= @user[:self_summary] %> </textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="summary" class="col-sm-2 control-label">My Ideal Mate</label>
        <div class="col-sm-8">
          <textarea v-model="user.ideal_mate" name="self_summary" id="summary" class="form-control" rows="7" ><%= @user[:ideal_mate] %> </textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="summary" class="col-sm-2 control-label">My Interests</label>
        <div class="col-sm-8">
          <textarea v-model="user.interests" name="self_summary" id="summary" class="form-control" rows="7" ><%= @user[:interests] %> </textarea>
        </div>
      </div>

      <p class="lead">My Pictures</p>



      <div class="form-group">
        <label for="pictures" class="col-sm-2 control-label">Picture to Upload</label>
        <div class="col-sm-8">
          <% if @user[:have_pic] == true %>
              <div class="w3-content" style="max-width: 300px; position:relative">
                <% @picture = Picture.where(:user_id => @user[:id]).all %>
                <% @picture.each do |f| %>
                    <% if f[:main_pic] == "true" %>
                        <img class="mySlides" name="main_pic" src="<%= f[:image_url] %>" id="<%= f[:id] %>" wiggy="<%= f[:main_pic] %>">
                    <% else %>
                        <img class="mySlides" src="<%= f[:image_url] %>" id="<%= f[:id] %>" wiggy="<%= f[:main_pic] %>">
                    <% end %>

                <% end %>
                <button class="w3-btn-floating" style="position:absolute;top:48%;left:-27px" onclick="plusDivs(-1)">❮</button>
                <button class="w3-btn-floating" style="position:absolute;top:48%;right:-27px" onclick="plusDivs(1)">❯</button>
                <button class="make-main" style="position:absolute; top:5%; right: 5%; display: block">Set as Main</button>
                <button class="delete_pic" style="position:absolute; top:-2%; right: -2%;">X</button>
                <a class="change_main" style="position:absolute; bottom: 5%; right: 5%;">C</a>
              </div>
          <% end %>
          <br>
          <br>
          <input type="hidden" name="user_id" value="<%= @user[:id] %>">
          <input type="file" name="picture" id="picture" class="" value="">
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn btn-primary subm"><i class="fa fa-lock"></i> Update</button>
        </div>
      </div>
    </form>


  </div>



</div>


<script>
  var slideIndex = 1;
  var current_pic = 0;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    var main = document.getElementsByClassName("mySlides")[slideIndex-1].getAttribute("wiggy");
    current_pic = document.getElementsByClassName("mySlides")[slideIndex-1].getAttribute("id");
    console.log(current_pic, "current pic id")
    x[slideIndex-1].style.display = "block";
    if (main == "true") {
      $(".make-main").attr("style", "position:absolute; top:5%; left: 5%; display: block");
    }
    if (main == "false") {
      $(".make-main").attr("style", "display: none");
    }
  }

  $(".delete_pic").on("click", function(){
    console.log(current_pic, "wtf wtf wtf wtf")
    $.post('/user/picture_delete', {id: current_pic}, function(res){

    })
  })

  $(".change_main").on("click", function(){
    $.post('/user/change_picture', {id: current_pic}, function(){

    })
  })




</script>


