
<div class="container" style="width: 980px;">
  <h3>Members</h3>
  <div class="row" style="margin-top: 25px;">
  <% @users.each do |id| %>
    <div class="col-md-4 profile" style="background-color: white;">
      <% pic = Picture.where(:user_id => id[:id], :main_pic => "true").first %>
      
      <div class="profile_container">
        <a class="image_link" href="/viewprofile/<%= id[:id] %>">
          <span class="image_wrapper">
            <img class="profile_pic" src="<%= pic[:image_url] || 'https://www.buira.org/assets/images/shared/default-profile.png' %>">
          </span>
        </a>
        <div class="profile_text">
          <div class="profile_info">
            <% age1 = id[:birth_year]
               age = Date.today().to_s.split('-')[0].to_i - age1.to_i %>
            <p><strong><%= id[:username] %></strong></p>
            <p><%= age %></p>
          </div>
          <div class="view_profile_button">
            <a class="btn btn-default btn-sm" href="/viewprofile/<%= id[:id] %>">View Profile</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".image_link").on('hover', function(){
      $(this).closest("image_wrapper").css("overflow", "visible")
    })
  })



</script>










