<div class="container">
  <div class="row" style="width: 750px; margin-left: auto; margin-right: auto;">
    <h3>Your Messages!</h3>
    <ul class="nav nav-tabs" style="margin-top: 10px;">
      <li class="active"><a data-toggle="tab" href="#inbox">Inbox</a></li>
      <li><a data-toggle="tab" href="#exchange">Exchanges</a></li>
    </ul>
    <div class="tab-content">
      <div id="inbox" class="tab-pane fade in active">
        <% if @user_list.blank?%>
            <h3>You have no messages at this time</h3>
        <% end %>
        <% @user_list.each do |user| %>
            <div class="row message_box" style="margin-top: 10px;">
              <div class="exchange_image col-md-2" style="height: 100px; margin-top: 10px; text-align: center;">
                <% @picture_to = Picture.where(:user_id => user, :main_pic => true).first %>
                <a href="/viewprofile/<%=user%>"><img src="<%=@picture_to[:image_url]%>" alt="send_to_image" style="width: 60px; height: 60px;"</a>
                <% @theirname = User.where(:id => user).first[:username] %>
                <p><%=@theirname%></p>
              </div>
              <div class="exchange_message col-md-6" style="margin-top: 10px; height: 100px;">
                <% @rec_message = Message.where(:user_id => user).order(:sent_date).last %>
                <a href="/user/message_from/<%= user %>"><p><%=@rec_message[:content][0, 100]%></p></a>
              </div>
              <div class="exchange_time col-md-3" style="margin-top: 10px; height: 100px;">
                <p><%=@rec_message[:sent_date].strftime("%m/%d/%Y %I:%M %p")%></p>
              </div>
            </div>
        <% end %>
      </div>
      <div id="exchange" class="tab-pane fade">

      </div>
    </div>

  </div>
</div>