<div class="container">
  <h3>Your Messages!</h3>
  <ul class="nav nav-tabs" style="margin-top: 10px;">
    <li class="active"><a data-toggle="tab" href="#inbox">Inbox</a></li>
    <li><a data-toggle="tab" href="#outbox">Outbox</a></li>
  </ul>
  <div class="tab-content">
    <div id="inbox" class="tab-pane fade in active">
      <div class="exchange_container container" style="margin-top: 10px;">
        <% @mes_received.each do |message_from| %>
          <div class="row message_box">
            <div class="exchange_image" style="width: 100px; height: 100px;">
              <% @picture = Picture.where(:user_id => message_from[:user_id], :main_pic => true).first %>
              <a href="/viewprofile/<%= message_from[:user_id]%>"><img src="<%= @picture[:image_url] %>" alt="user_image" style="width: 100%; height: 100%; border-radius: 50%;"></a>
            </div>
            <div class="exchange_message" style="width: 570px; height: 100px;">
              <% @user = User.where(:id => message_from[:user_id]).first %>
              <a href="/user/message_from/<%= message_from[:user_id] %>"><p>You have a message from: <%= @user[:username] %> ...</p></a>
              # <%=message_from[:id] %>
              <%=message_from[:content][0, 100]%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="outbox" class="tab-pane fade">
      <p>List of message sent out</p>
      <% @mes_sent.each do |message| %>
          <div class="row message_box">
            <div class="exchange_image col-md-2" style="height: 100px;">
              <% @picture_to = Picture.where(:user_id => message[:send_to_id], :main_pic => true).first %>
              <a href="/viewprofile/<%=message[:send_to_id]%>"><img src="<%=@picture_to[:image_url]%>" alt="send_to_image" style="width: 100px; height: 100px; border-radius: 50%;"></a>
            </div>
            <div class="exchange_message col-md-7" style=" height: 100px;">
              <% @user = User.where(:id => message[:send_to_id]).first %>
              <a href="/user/message_from/<%= message[:send_to_id] %>"><p>You sent a message to: <%= @user[:username] %> ...</p></a>
              # <%=message[:id] %>
              <%=message[:content][0, 100]%>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>