<div class="container">
  <h3 style="margin-top: 80px;">Profile Wizard</h3>
  <div class="col-md-offset-2 col-md-9" style="margin-top: 50px;">
    <p class="lead">My Identity</p>
    <form role="form" method="POST" class="form-horizontal" enctype="multipart/form-data">
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Userame</label>
        <div class="col-sm-8">
          <input type="text" name="username" id="username" class="form-control" value="<%= @user[:username] %>">
        </div>
      </div>
      <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">Gender/Sex</label>
        <div class="col-sm-8">
          <input type="radio" name="gender" id="gender" class="" value="male" <% if @user[:gender] == "male" %>checked <% end %>> Male
          <input type="radio" name="gender" id="gender" class="" value="female" <% if @user[:gender] == "female" %>checked <% end %>> Female
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Birth Date</label>
        <div class="col-sm-8">
          <label for="birth_month" class="col-sm-1 control-label">Mo</label>
          <div class="col-sm-3">
            <input type="text" name="birth_month" class="form-control" value="<%= @user[:birth_month] %>">
          </div>
          <label for="birth_month" class="col-sm-1 control-label">Day</label>
          <div class="col-sm-3">
            <input type="text" name="birth_day" class="form-control" value="<%= @user[:birth_day] %>">
          </div>
          <label for="birth_month" class="col-sm-1 control-label">Year</label>
          <div class="col-sm-3">
            <input type="text" name="birth_year" class="form-control" value="<%= @user[:birth_year] %>">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">US Citizen?</label>
        <div class="col-sm-8">
          <input type="checkbox" name="immigration" id="immigration" value="citizen" <% if @user[:immigration] == "citizen" %> checked <% end %>>
        </div>
      </div>

      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Languages</label>
        <div class="col-sm-8">
          <input type="radio" name="language" value="english" <% if @user[:language] == "english" %> checked <% end %>> English
          <input type="radio" name="language" value="korean" <% if @user[:language] == "korean" %> checked <% end %>> Korean
          <input type="radio" name="language" value="bilingual" <% if @user[:language] == "bilingual" %> checked <% end %>> Bilingual
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Zip Code</label>
        <div class="col-sm-8">
          <input type="text" name="zip" id="occupation" class="form-control" value="<%= @user[:zip] %>">
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Occupation</label>
        <div class="col-sm-8">
          <input type="text" name="occupation" id="occupation" class="form-control" value="<%= @user[:occupation] %>">
        </div>
      </div>

      <div class="form-group" style="margin-top: 50px;">
        <div class="col-sm-2">
          <a href="/user/wizard/1">PREV</a>
        </div>

        <div class="col-sm-offset-7 col-sm-2">
          <a href="/user/wizard/3">NEXT</a>
        </div>
      </div>
    </form>
  </div>
</div>