<div class="container">
  <div class="row profile_card">
    <div class="col-md-4 profile_card_image">
      <% @pictures = Picture.where(:user_id => @user[:id]).all %>
      <% if @pictures.blank? %>
      <img src="/images/default-profile.png">
      <% end %>
      <% @pictures.each do |f| %>
        <% if f[:main_pic] == "true" %>
            <img class="mySlides" name="main_pic" src="<%= f[:image_url] %>" id="<%= f[:id] %>">
        <% else %>
            <img class="mySlides" src="<%= f[:image_url] %>" id="<%= f[:id] %>">
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 profile_card_id">
      <h2><%= @user[:username]%></h2>
      <% age1 = @user[:birth_year]
         age = Date.today().to_s.split('-')[0].to_i - age1.to_i %>
      <br>
      <% if age.blank? %>
      ?
      <% else %>
      <%=age%> years old
      <% end %>

      <% if !@user[:city].blank? %>
      <p>From <%= @user[:city]%></p>
      <% end %>
      <div class="send_message">
        <a id="modalPopper" userid="<%=@user[:id]%>"><button class="btn btn-info">Message</button></a>
      </div>
      <div id="msgModal2" class="modal hide fade">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <img class="mess_sent" src="/images/messageincoming.gif" alt="message sent" style="width: 85%; margin-top:10px;">
          <h3 style="position: relative; bottom: 90px;">Your message was sent!</h3>
        </div>
      </div>
      <div id="msgModal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Write a nice message!</h3>
        </div>
        <div class="modal-body">
          <input type="hidden" name="user_id" value="<%=@session[:user][:id]%>">
          <input type="hidden" name="send_to_id" value="<%=@user[:id]%>">
          <input type="hidden" name="date" value="<%=Time.now%>">
          <textarea id="textbox-toggle" class="form-control message_textarea" name="content" style="height:100px;"></textarea>
        </div>
        <div class="modal-footer">
          <div id="alert">
            <span></span>
          </div>
          <button form="message_form" userid="<%=@session[:user][:id]%>" send="<%=@user[:id]%>" date="<%=Time.now%>" class="btn btn-primary message_btn callback-btn" >Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row profile_summary">
    <div class="col-md-8">
      <ul class="nav nav-tabs" style="margin-top: 10px;">
        <li class="active"><a data-toggle="tab" href="#About">About</a></li>
        <li><a data-toggle="tab" href="#Photos">Pics</a></li>
      </ul>
      <div class="tab-content">
        <div id="About" class="p_content tab-pane fade in active">


          <div class="info_card" style="border: 0; border-radius: 0; margin-top: 20px;">
     
            <table>
              <tr>
                <td width="140">
                  <p>Username:</p>
                </td>
                <td>
                  <p><%= @user[:username] %></p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Age:</p>
                </td>
                <td>
                  <% age1 = @user[:birth_year]
                     age = Date.today().to_s.split('-')[0].to_i - age1.to_i

                  %>
                  <p><%= age %></p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Gender:</p>
                </td>
                <td>
                  <p><%= @user[:gender] %></p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Occupation:</p>
                </td>
                <td>
                  <p><%= @user[:occupation] %></p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>U.S. Citizen:</p>
                </td>
                <td>
                  <p>
                    <%
                    case @user[:immigration]
                    when "citizen"
                      concat "<img src='/images/flag_american_icon.jpg'>".html_safe
                    else
                      concat "?"
                    end
                    %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Height</p>
                </td>
                <td>
                  <p><%=@user[:height_ft]%>' <%=@user[:height_in]%></p>
                </td>
              </tr>

              <tr>
                <td>
                  <p>Language</p>
                </td>
                <td>
                  <p><%=@user[:language]%></p>
                </td>
              </tr>


              <tr>
                <td valign="top">
                  <p>About Me</p>
                </td>
                <td valign="top">
                  <p><%=@user[:self_summary] || 'Nothing yet'%></p>
                </td>
              </tr>


              <tr>
                <td valign="top">
                  <p>I'm looking for</p>
                </td>
                <td valign="top">
                  <p><%=@user[:ideal_mate] || 'Nothing yet'%></p>
                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>My Interests</p>
                </td>
                <td valign="top">
                  <p><%=@user[:interests] || 'Nothing yet'%></p>
                </td>
              </tr>
              <!-- <tr>
              <td>
              <p>User ID</p>
              </td>
              <td>
              <p><%=@user[:id]%></p>
              </td>
              </tr> -->



            </table>

          </div>




        </div>
        <div id="Photos" class="p_content tab-pane fade">
          <div class="row photo_view">
            <% @pictures.each do |pic| %>
              <div class="col-md-4">
                <img src="<%=pic[:image_url]%>" alt="image" style="width: 100%;">
              </div>
            <% end %>
          </div>
        </div>
        <div id="Questions" class="p_content tab-pane fade">

        </div>
      </div>
    </div>
    

    </div>
  </div>


</div>




<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = x.length
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    if(x[slideIndex - 1]){    x[slideIndex - 1].style.display = "block"; }

  }

  var index = 0;
  $(document).ready(function() {
    $('.next').on('click', function(){
      index++;
      slide(index)
    })

    $('.prev').on('click', function(){
      index--;
      slide(index)
    })

    $('.send_message').on('change', function(e){
      e.preventDefault();
      var $this = $(this)
      var sender_id = $this.attr('name')
      var send_to = $this.attr('sendto')
      var date = $this.attr('date')
      var content = $this.val();
      var data = {user_id: sender_id, send_to_id: send_to, content: content, sent_date: date};
      console.log(sender_id, send_to, content);
      $.post('/message_input', data, function(res){
        console.log(res);
      })
    })

    $('#modalPopper').on('click', function(){
      $('#msgModal').removeClass('hide')
      $('#msgModal').modal('show')
    })


    $('.message_btn').on('click', function(e){
      e.preventDefault();
      var $this = $(this)
      var sender_id = $this.attr('userid')
      var send_to = $this.attr('send')
      var date = $this.attr('date')
      var content = $('.message_textarea').val();
      console.log("this is the content: ", content)
      if (content != "") {
        console.log("it went to backend")
        var data = {user_id: sender_id, send_to_id: send_to, content: content, sent_date: date};
        console.log(data);
        $.post('/message_input', data, function(res){
          console.log(res);
        })
        $('#textbox-toggle').val('')
        $('#msgModal').addClass('hide')
        $('#msgModal').modal('hide')
        $('#msgModal2').removeClass('hide')
        $('#msgModal2').modal('show')

      }
      else {
        $('#textbox-toggle').effect("shake");
        $('#alert span').text("Please write a little something...");
      }

    })


  })

  function slide(slide_index){
    var height = $('.slide:first').outerHeight()

    var slide_to = -(height * slide_index)
    $('#slideshow').css('transform', "matrix(1, 0, 0, 1, 0," + slide_to + ")")
  }




</script>
