<div class="container">
  <div class="row profile_card">
    <div class="col-md-4 profile_card_image">
      <% @pictures = Picture.where(:user_id => @user[:id]).all %>
      <% @pictures.each do |f| %>
        <% if f[:main_pic] == "true" %>
            <img class="mySlides" name="main_pic" src="<%= f[:image_url] %>" id="<%= f[:id] %>">
        <% else %>
            <img class="mySlides" src="<%= f[:image_url] %>" id="<%= f[:id] %>">
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 profile_card_id">
      <h2><%= @user[:username]%></h2>
      <% age1 = @user[:birth_year]
         age = Date.today().to_s.split('-')[0].to_i - age1.to_i %>
      <br>
      <%=age%> - <%= @user[:zip]%>
      <div class="send_message">
        <a id="modalPopper" userid="<%=@user[:id]%>"><button class="btn">Message</button></a>
      </div>
      <div id="msgModal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Write a nice message!</h3>
        </div>
        <div class="modal-body">
          <input type="hidden" name="user_id" value="<%=@session[:user][:id]%>">
          <input type="hidden" name="send_to_id" value="<%=@user[:id]%>">
          <input type="hidden" name="date" value="<%=Time.now%>">
          <textarea class="form-control message_textarea" name="content" style="height:200px;"></textarea>
        </div>
        <div class="modal-footer">
          <button form="message_form" userid="<%=@session[:user][:id]%>" send="<%=@user[:id]%>" date="<%=Time.now%>" class="btn btn-primary message_btn callback-btn" data-dismiss="modal" >Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row profile_summary">
    <div class="col-md-8">
      <ul class="nav nav-tabs" style="margin-top: 10px;">
        <li class="active"><a data-toggle="tab" href="#About">About</a></li>
        <li><a data-toggle="tab" href="#Photos">Photos</a></li>
        <li><a data-toggle="tab" href="#Questions">Questions</a></li>
      </ul>
      <div class="tab-content">
        <div id="About" class="p_content tab-pane fade in active">

          <p><%=@user[:self_summary]%></p>
        </div>
        <div id="Photos" class="p_content tab-pane fade">
          <div class="row photo_view">
            <% @pictures.each do |pic| %>
              <div class="col-md-4">
                <img src="<%=pic[:image_url]%>" alt="image" style="width: 100%;">
              </div>
            <% end %>
          </div>
        </div>
        <div id="Questions" class="p_content tab-pane fade">

        </div>
      </div>
    </div>
    <div class="col-md-4 info_card">
      <h4>Quick Info</h4>
      <table>
        <tr>
          <td>
            <p>Username:</p>
          </td>
          <td>
            <p><%= @user[:username] %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Age:</p>
          </td>
          <td>
            <% age1 = @user[:birth_year]
               age = Date.today().to_s.split('-')[0].to_i - age1.to_i

            %>
            <p><%= age %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Gender:</p>
          </td>
          <td>
            <p><%= @user[:gender] %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Occupation:</p>
          </td>
          <td>
            <p><%= @user[:occupation] %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Immigration:</p>
          </td>
          <td>
            <p><%= @user[:immigration] %></p>
          </td>
        </tr>



      </table>

    </div>

    </div>
  </div>


</div>




<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = x.length
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }

  var index = 0;
  $(document).ready(function() {
    $('.next').on('click', function(){
      index++;
      slide(index)
    })

    $('.prev').on('click', function(){
      index--;
      slide(index)
    })

    $('.send_message').on('change', function(e){
      e.preventDefault();
      var $this = $(this)
      var sender_id = $this.attr('name')
      var send_to = $this.attr('sendto')
      var date = $this.attr('date')
      var content = $this.val();
      var data = {user_id: sender_id, send_to_id: send_to, content: content, sent_date: date};
      console.log(sender_id, send_to, content);
      $.post('/message_input', data, function(res){
        console.log(res);
      })
    })

    $('.message_btn').on('click', function(e){
      e.preventDefault();
      var $this = $(this)
      var sender_id = $this.attr('userid')
      var send_to = $this.attr('send')
      var date = $this.attr('date')
      var content = $('.message_textarea').val();
      if (content == undefined) {
        console.log("this is the content: ", content);
        var data = {user_id: sender_id, send_to_id: send_to, content: content, sent_date: date};
        console.log(data);
        $.post('/message_input', data, function(res){
          console.log(res);
        })
      }
      else {

      }

    })


  })

  function slide(slide_index){
    var height = $('.slide:first').outerHeight()

    var slide_to = -(height * slide_index)
    $('#slideshow').css('transform', "matrix(1, 0, 0, 1, 0," + slide_to + ")")
  }




</script>